@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.TopicPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Topic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Topic.Number" class="control-label"></label>
                <input asp-for="Topic.Number" class="form-control" />
                <span asp-validation-for="Topic.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.TopicName" class="control-label"></label>
                <input asp-for="Topic.TopicName" class="form-control" />
                <span asp-validation-for="Topic.TopicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.TopicContext" class="control-label"></label>
                <input asp-for="Topic.TopicContext" class="form-control" />
                <span asp-validation-for="Topic.TopicContext" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Topic.Status" /> @Html.DisplayNameFor(model => model.Topic.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Topic.QuizId" class="control-label"></label>
                <select asp-for="Topic.QuizId" class="form-control" asp-items="ViewBag.QuizId"></select>
                <span asp-validation-for="Topic.QuizId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.ChapterId" class="control-label"></label>
                <select asp-for="Topic.ChapterId" class="form-control" asp-items="ViewBag.ChapterId"></select>
                <span asp-validation-for="Topic.ChapterId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Topic.Id" />
            <div class="form-group">
                <label asp-for="Topic.CreatedBy" class="control-label"></label>
                <input asp-for="Topic.CreatedBy" class="form-control" />
                <span asp-validation-for="Topic.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.LastUpdatedBy" class="control-label"></label>
                <input asp-for="Topic.LastUpdatedBy" class="form-control" />
                <span asp-validation-for="Topic.LastUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.DeletedBy" class="control-label"></label>
                <input asp-for="Topic.DeletedBy" class="form-control" />
                <span asp-validation-for="Topic.DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.CreatedTime" class="control-label"></label>
                <input asp-for="Topic.CreatedTime" class="form-control" />
                <span asp-validation-for="Topic.CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.LastUpdatedTime" class="control-label"></label>
                <input asp-for="Topic.LastUpdatedTime" class="form-control" />
                <span asp-validation-for="Topic.LastUpdatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.DeletedTime" class="control-label"></label>
                <input asp-for="Topic.DeletedTime" class="form-control" />
                <span asp-validation-for="Topic.DeletedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
