@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.ProgressPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<h3>Các chương đã hoàn thành</h3>
<ul>
    @foreach (var chapter in Model.FinishedChapters!)
    {
        <li>@chapter.Name</li>
    }
</ul>

<h3>Các chủ đề đã hoàn thành</h3>
<ul>
    @foreach (var topic in Model.FinishedTopics!)
    {
        <li>@topic.Name</li>
    }
</ul>

<div>
    <a asp-page="./Index">Trở lại</a>
</div>
