@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.ProgressPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<h3>Các chương đã hoàn thành</h3>
<ul>
    @foreach (var chapter in Model.FinishedChapters!)
    {
        <a asp-page="/ResultPages/Student" asp-route-chapterOrTopicId="@chapter.Id">@chapter.Name</a>
    }
</ul>

<h3>Các chủ đề đã hoàn thành</h3>
<ul>
    @foreach (var topic in Model.FinishedTopics!)
    {
        <a asp-page="/ResultPages/Student" asp-route-chapterOrTopicId="@topic.Id">@topic.Name</a>
    }
</ul>

<div>
    <a asp-page="./Index">Trở lại</a>
</div>
