@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.SubjectPages.CreateModel

@{
    ViewData["Title"] = "Create Subject";
}

<h1>Create Subject</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Subject.SubjectName" class="control-label"></label>
                <input asp-for="Subject.SubjectName" class="form-control" />
                <span asp-validation-for="Subject.SubjectName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Subject.Price" class="control-label"></label>
                <input asp-for="Subject.Price" class="form-control" />
                <span asp-validation-for="Subject.Price" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input asp-for="Subject.Status" class="form-check-input" />
                    @Html.DisplayNameFor(model => model.Subject.Status)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
