@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.SubjectPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject.SubjectName" class="control-label"></label>
                <input asp-for="Subject.SubjectName" class="form-control" />
                <span asp-validation-for="Subject.SubjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.Price" class="control-label"></label>
                <input asp-for="Subject.Price" class="form-control" />
                <span asp-validation-for="Subject.Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Subject.Status" /> @Html.DisplayNameFor(model => model.Subject.Status)
                </label>
            </div>
            <input type="hidden" asp-for="Subject.Id" />
            <div class="form-group">
                <label asp-for="Subject.CreatedBy" class="control-label"></label>
                <input asp-for="Subject.CreatedBy" class="form-control" />
                <span asp-validation-for="Subject.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.LastUpdatedBy" class="control-label"></label>
                <input asp-for="Subject.LastUpdatedBy" class="form-control" />
                <span asp-validation-for="Subject.LastUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.DeletedBy" class="control-label"></label>
                <input asp-for="Subject.DeletedBy" class="form-control" />
                <span asp-validation-for="Subject.DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.CreatedTime" class="control-label"></label>
                <input asp-for="Subject.CreatedTime" class="form-control" />
                <span asp-validation-for="Subject.CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.LastUpdatedTime" class="control-label"></label>
                <input asp-for="Subject.LastUpdatedTime" class="form-control" />
                <span asp-validation-for="Subject.LastUpdatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.DeletedTime" class="control-label"></label>
                <input asp-for="Subject.DeletedTime" class="form-control" />
                <span asp-validation-for="Subject.DeletedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
