@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.AuthPages.LoginErrorModel
@{
    ViewData["Title"] = "Login Error";
}

<h2>Login Error</h2>
<p>There was an error with your login attempt. Please try again.</p>

<button onclick="location.href='/AuthPages/Login';" class="btn btn-primary">Back to Login</button>
