@page "{id:guid}"
@model ElementaryMathStudyWebsite.RazorPage.Pages.ChapterPages.ExamModel

@{
    ViewData["Title"] = "Take Exam";
}

<h1>Exam</h1>

<form method="post">
    <input type="hidden" asp-for="QuizId" />

    @foreach (var question in Model.Questions.Select((value, index) => new { value, index }))
    {
        <div>
            <h3 style="display: inline-block;">@(question.index + 1). </h3>
            <h5 style="display: inline-block; vertical-align: top;">@Html.Raw(FormatQuestionContext(question.value.QuestionContext))</h5>
            @foreach (var option in question.value.Options)
            {
                <div>
                    <input type="radio" name="Answer_@question.value.Id" value="@option.Id" id="Option_@option.Id" />
                    <label for="Option_@option.Id">@option.Answer</label>
                </div>
            }
        </div>
    }

    <a asp-page="Create"><button type="submit" class="btn btn-primary mt-2">Finish</button></a>
</form>
@functions {
    // Method to format the question content
    public static string FormatQuestionContext(string context)
    {
        // Replace text between * * with bold tags
        string boldFormatted = System.Text.RegularExpressions.Regex.Replace(context, @"\*(.*?)\*", "<strong>$1</strong>");
        // Wrap each <p> with new lines for proper paragraph spacing
        string paragraphFormatted = boldFormatted.Replace("<p>", "<p style=\"margin-top: 10px;\">");
        return paragraphFormatted;
    }
}
