@page "{subjectId}"
@model ElementaryMathStudyWebsite.RazorPage.Pages.ChapterPages.IndexModel

@{
    ViewData["Title"] = "IndexPartial";
    var subjectId = ((string)RouteData.Values["subjectId"]!).ToUpper();
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Số thứ tự
            </th>
            <th>
                Tên chương
            </th>
            <th>
                Tên câu hỏi
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Chapter.Where(c => c.SubjectId.ToUpper() == subjectId))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChapterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuizName)
                </td>
            </tr>
        }
    </tbody>
</table>
