@page "{questionId?}"
@model ElementaryMathStudyWebsite.RazorPage.Pages.UserAnswerPages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserAnswer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserAnswer.QuestionId" class="control-label">Question</label>
                <select asp-for="UserAnswer.QuestionId" class="form-control" asp-items="ViewBag.QuestionContext"
                        onchange="filterOptions()">
                </select>
            </div>

            <div class="form-group">
                <label asp-for="UserAnswer.OptionId" class="control-label">Option</label>
                <select asp-for="UserAnswer.OptionId" class="form-control" asp-items="ViewBag.OptionId"></select>
            </div>

            <div class="form-group">
                <label asp-for="UserAnswer.UserId" class="control-label">User</label>
                <input type="text" class="form-control" value="@ViewData["CurrentUserName"]" readonly />
                <input type="hidden" asp-for="UserAnswer.UserId" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        function filterOptions() {
            const selectedQuestionId = document.querySelector('[name="UserAnswer.QuestionId"]').value;
            const url = `@Url.Page("./Create")?questionId=${selectedQuestionId}`;
            window.location.href = url;
        }
    </script>
}
