@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.UserAnswerPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserAnswer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserAnswer.QuestionId" />
            <input type="hidden" asp-for="UserAnswer.UserId" />
            <div class="form-group">
                <label asp-for="UserAnswer.OptionId" class="control-label"></label>
                <select asp-for="UserAnswer.OptionId" class="form-control" asp-items="ViewBag.OptionId"></select>
                <span asp-validation-for="UserAnswer.OptionId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UserAnswer.AttemptNumber" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
